
* {
    text-align: center;
}

td, th {
    border: solid 1px black;
    padding: 15px;
}

table {
    margin: 0 auto;
    border: solid 1px black;
}

thead {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #66CDAA;
}

a {
    padding: 5px;
}

